{% load markup endless comments %}
{% paginate post %}
{% for item in post %}
<div class="post">
    <article>
        <h2 class="title {{ item.type_post }}"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
        <div class="separate"></div>
        <div class="meta">
            {{ item.date.date }}
            <div class="tags">
                {% for tag in item.tags.all %}
                <a class="cat" href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        </div>
        {{ item.get_description|markdown }}
        
    </article>
</div>
{% endfor %}
{% show_more 'Еще' %}
