{% load comments i18n %}

<div class="my-comment-form">
  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    <input type="hidden" name="next" value="{% url view_blog post.slug %}" />
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    <div class="my-comment{% if form.comment.errors %} error{% endif %}"><label for="id_comment">Ваш комментарий</label>{{ form.comment }}</div>
    {% if user.is_authenticated %}
    {% else %}
    <div class="text-field{% if form.name.errors %} error{% endif %}"><label for="id_name">Имя</label>{{ form.name }}</div>
    <div class="text-field{% if form.email.errors %} error{% endif %}"><label for="id_email">Почта</label>{{ form.email }}</div>
    {% endif %}
    <p class="submit">
      <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
      <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
    </p>
  </form>
</div>