{% extends "base.html" %}{% load thumbnail markup comments gravatar nofollow %}

{% block content %}
<div class="block">
    <div class="post">
        <article>
            <h2 class="title {{ item.type_post }}"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <div class="separate"></div>
            <div class="meta">
                {{ post.date.date }} //
                {% get_comment_count for post as comment_count %}
                {% if comment_count %}
                    {% if comment_count == 1 %}
                        <a href="{{ post.get_absolute_url }}#send-comment">{{ comment_count }}</a> комментарий.
                    {% else %}
                        <a href="{{ post.get_absolute_url }}#send-comment">{{ comment_count }}</a> комментариев.
                    {% endif %}
                {% else %}
                    Еще нет комментариев
                {% endif %}
            </div>
            {{ post.get_post|markdown }}
        </article>
        <footer>
            <div class="social">
                <div class="s_block" style="padding-top: 3px;">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru">Твитнуть</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
                <div class="s_block" style="padding-top: 6px;">
                    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                    <g:plusone></g:plusone>
                </div>
                <div class="s_block" style="margin-top: -8px;">
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div>
                </div>
            </div>
            <div class="comments">
                <div class="comment-count">
                    <div class="comment-count-in">
                        {% get_comment_count for post as comment_count %}
                        {% if comment_count %}
                            {% if comment_count == 1 %}
                                {{ comment_count }} комментарий.
                            {% else %}
                                {{ comment_count }} комментариев.
                            {% endif %}
                        {% else %}
                            Еще нет комментариев
                        {% endif %}
                        <a href="{{ post.get_absolute_url }}#send-comment">Оставьте свой</a>
                    </div>
                </div>
                
                {% render_comment_list for post %}
                <div id="send-comment">
                    <h3>Оставьте свой</h3>
                    {% render_comment_form for post %}
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}